:root {
  --BackgroundColorMain: #e5e5e5;
  --BackgroundColorSecondary: #2f303a;
  --FontColorMain: #212121;
  --FontColorSecondary: #757575;
  --SelectionColor: #2196f3;
  --ColorWhite: #ffffff;
  --ColorWhiteTransp: #ffffff99;
  --ColorAlmostWhite: #f5f4fa;
}

body {
  background-color: var(--BackgroundColorMain);
  color: var(--FontColorMain);
  font-family: "Roboto", "Raleway", sans-serif;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--SelectionColor);
  text-decoration: none;
}

.logo-recolor-top {
  color: var(--FontColorMain);
}

.logo-recolor-bottom {
  color: var(--ColorWhite);
}

.links {
  text-decoration: none;
  color: var(--FontColorMain);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.links:hover {
  color: var(--SelectionColor);
}

.links:focus {
  color: var(--SelectionColor);
}

.links-current-highlight {
  color: var(--SelectionColor);
}

.links-contact {
  color: var(--FontColorSecondary);
}
.links-contact:focus {
  color: var(--SelectionColor);
}

.links-contact-bottom {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ColorWhite);
}

.bottom-background {
  background: var(--BackgroundColorSecondary);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ColorWhite);
}

.btn {
  background: var(--ColorAlmostWhite);
  color: var(--FontColorMain);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.btn:hover {
  background: var(--SelectionColor);
  color: var(--ColorWhite);
  cursor: pointer;
}
.btn:focus {
  background: var(--SelectionColor);
  color: var(--ColorWhite);
  cursor: pointer;
}

.btn-order {
  background: var(--SelectionColor);
  color: var(--ColorWhite);
  background: var(--SelectionColor);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.875;
  line-height: 30px;
}

.btn-order:hover {
  background: var(--ColorAlmostWhite);
  color: var(--FontColorMain);
  cursor: pointer;
}
.btn-order:focus {
  background: var(--ColorAlmostWhite);
  color: var(--FontColorMain);
  cursor: pointer;
}

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--ColorWhite);
  background: var(--BackgroundColorSecondary);
}

.secondary-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.paragraph-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--FontColorMain);
}

.paragraph-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--FontColorSecondary);
}

.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.person-position {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--FontColorSecondary);
}

.image-caption-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.image-caption-secondary {
  font-size: 16px;
  line-height: 1.88;
  color: var(--FontColorSecondary);
}
